{% include 'header.html' %}

<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/memberlist.css') }}">
    <title>Pi Gamma Phi (Doskelion)</title>
    <link rel="website icon" type="png" href="static/images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        {% include 'left_menus.html' %}
        <div class="container">
            <center>
                <div class="table-wrapper">
                    <h2 style="color: black;"><strong>Agusan del Norte Chapters<strong></h2>
                        <h4>Archived List</h4>
                    <a href="chapterlist" class="previous">&laquo;  Back</a>

                    <div class="add-button">
                    </div>

                    <div class="search-container">
                    
                    </div>
                    <table class="fl-table">
                        <thead>
                            <tr>
                                <th>Chapter Name</th>
                                <th>Chapter President</th>
                                <th>Phone Number</th>
                                <th>Location</th>
                                <th>Date Created</th>       
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="officialsTableBody">
                            {% for chap1 in chap1 %}
                            <tr>
                                <td>{{chap1[1]}}</td>
                                <td>{{chap1[2]}}</td>
                                <td>{{chap1[3]}}</td>
                                <td>{{chap1[4]}}</td>
                                <td>{{chap1[5]}}</td>
                                <td>
                                    <a href="#" class = "action-button" STYLE="color:red;"style="margin-right: 15px;" onclick="confirmDelete('{{ chap1[0] }}')"> 🗑 Delete  </a>
                                    <button href="#" class="action-button" onclick="Restore({{ chap1[0] }} , 'restore')"> 🔁 Restore </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </center>
        </div>
    </div>

    <script>
        function confirmDelete(memberId) {
            var confirmation = confirm("Are you sure you want to delete this Chapter?");
            if (confirmation) {
                window.location.href = "/delete_chapter/" + memberId;
            }
        }

        function Restore(eventId, action) {
            if (action === 'restore') {
                var confirmRestore = confirm("Are you sure you want to Restore this?");
                if (confirmRestore) {
                    window.location.href = "/restore_chap/" + eventId;
                }
            }
        }

        function searchChapter() {
            var input, filter, chapters, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            chapters = document.getElementsByClassName("chapter-widget");
            for (i = 0; i < chapters.length; i++) {
                txtValue = chapters[i].getElementsByClassName("chapter-name")[0].textContent || chapters[i]
                    .getElementsByClassName("chapter-name")[0].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    chapters[i].style.display = "";
                } else {
                    chapters[i].style.display = "none";
                }
            }
            updateTotalChapters();
        }

        function updateTotalChapters() {
            var totalChapters = document.getElementsByClassName("chapter-widget").length;
            document.getElementById("totalChapters").innerText = totalChapters;
        }
    </script>
</body>

</html>
